$primary-color: #9c27b0;
$primary-color-light: #ba68c8;
$primary-color-dark: #7b1fa2;
$secondary-color: #388e3c;
$secondary-color-light: #4caf50;
$secondary-color-dark: #1b5e20;
$font-family: "Lato", sans-serif;
$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
