$primary-color: #4caf50;
$primary-color-light: #80e27e;
$primary-color-dark: #087f23;
$secondary-color: #ffa726;
$secondary-color-light: #ffd95b;
$secondary-color-dark: #c77800;
$font-family: "Lato", sans-serif;
$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
